{{ form_start(formA) }}
    {{ form_row(formA.name, {'label': 'Name:'}) }}
    {{ form_row(formA.description, {'label': 'Description:'}) }}
    <button type="submit">Add Category</button>
{{ form_end(formA) }}
